{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% get_providers as socialaccount_providers %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<paper-material elevation="1" style="padding:20px">

				{% if socialaccount_providers %}
					<p>
						{% blocktrans with site.name as site_name %}
							Please sign in with one
							of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
							for a {{ site_name }} account and sign in below:{% endblocktrans %}
					</p>

					<div class="socialaccount_ballot">

						<ul class="socialaccount_providers">
							{% include "socialaccount/snippets/provider_list.html" with process="login" %}
						</ul>

						<div class="login-or">{% trans 'or' %}</div>

					</div>





					{% include "socialaccount/snippets/login_extra.html" %}

				{% else %}

					{#                    <p>If you have not created an account yet </p>#}
					{#                        <a href="{{ signup_url }}">#}
					{#                    <paper-button raised>Sign up</paper-button>#}
					{#                </a>#}


				{% endif %}

				<dom-module id="login-form">
					<template>
						<style></style>
						<h1 class="login-container-header">Welcome </h1>
						<form is="iron-form" class="login" novalidate id="form_login" data-url="{% url 'login_user' %}">
							{% csrf_token %}
							<paper-input type="email" label="Email address" id="login_email" auto-validate required>
								<paper-icon-button prefix icon="mail"></paper-icon-button>
							</paper-input>
							<paper-input type="password" label="Password" id="login_password" auto-validate required>
								<paper-icon-button prefix icon="lock"></paper-icon-button>
							</paper-input>

							<paper-button raised id="login-post">
								<iron-icon icon="check" class="x-scope iron-icon-1"></iron-icon>
								Sign In
							</paper-button>

							{% if redirect_field_value %}
								<paper-input type="hidden" name="{{ redirect_field_name }}"
								             value="{{ redirect_field_value }}"></paper-input>
							{% endif %}

						</form>
					</template>
					<script>
						HTMLImports.whenReady(function () {
							Polymer({
								is: 'login-form'
							});
							var login_post = document.getElementById("login-post");
							login_post.addEventListener('tap', function (event) {

								var paper_input_email = document.getElementById("login_email").value;
								var paper_input_password = document.getElementById("login_password").value;
								var url = document.getElementById("form_login").getAttribute("data-url");


								$.ajax({
									url: url,
									type: "POST",
									dataType: "json",
									data: {
										'email': paper_input_email,
										'password': paper_input_password
									},
									success: function (data) {
										console.log(data);
									},
									error: function (data) {
										console.log(data);
									}
								});

								// var normalizedEvent = Polymer.dom(event);
								// // logs #myButton
								// console.info('rootTarget is:', normalizedEvent.rootTarget);
								// // logs the instance of event-targeting that hosts #myButton
								// console.info('localTarget is:', normalizedEvent.localTarget);
								// // logs [#myButton, document-fragment, event-retargeting,
								// //       body, html, document, Window]
								// console.info('path is:', normalizedEvent.path);
							});
						});
					</script>
				</dom-module>

				<login-form></login-form>


			</paper-material>
		</div>
	</div> <!-- container

{% endblock content %}

{% block foot-extra-js %}
	{{ block.super }}
{% endblock %}
