{% extends "core/generic/generic_form.html" %}

{% load staticfiles %}

{% block js %}
    $('#id_content').markdownEditor({
        preview: true,
        imageLoadUrl: '{% url "blog:get_image_list" %}',
        uploadPath: '{% url 'blog:upload' %}',
        onPreview: function (content, callback) {
            callback( marked(content) );
        }
    });
{% endblock js %}

{% block scoped_css %}
    <style scoped>

    </style>
{% endblock %}

{% block head_extra_css %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/markdown-editor.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block foot-extra-js %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/uploader.js" %}"></script>
    <script src="{% static 'js/markdown-editor.js' %}"></script>
    <script src="{% static 'ace/ace.js' %}"></script>
    <script src="{% static 'js/marked.min.js' %}"></script>
{% endblock %}

{% block modals %}
    <div id="dropzone" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div id="container" class="modal-content">
                {% include 'blog/modal_body.html' %}
            </div>
        </div>
    </div>
{% endblock %}