{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <script src="{% static 'js/angular.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/firebase.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angularfire.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'app/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/controllers/chatController.js' %}" type="text/javascript"></script>
</head>
<body ng-controller="chatController">

<label for="chat-text">Write text here</label>
<input id="chat-text">

<button id="send" ng-click="send_message()">Send</button>

<div id="chat-area" style="background-color: khaki; width: 200px; height: 200px;">
    <p ng-repeat="conversation in conversations">
        {{ conversation.text }}
    </p>
</div>

</body>
</html>
