{% load staticfiles %}


<div class="box-container">

    <style scoped>
        .box__dragndrop,
        .box__uploading,
        .box__success,
        .box__error {
            display: none;
        }

        .box.has-advanced-upload {
            background-color: white;
        }

        .box.has-advanced-upload .box__dragndrop {

        }

        .box__input {

            border: 2px dashed rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            margin: 10px;
        }

        .box__input.is-dragover {
            background-color: rgba(10, 20, 200, 0.1);
        }

        .box.is-uploading .box__input {
            visibility: hidden;
        }

        .box.is-uploading .box__uploading {
            display: block;
        }

        .box-container {
            background-color: white;
            box-shadow: gray 1px 1px 3px;
            border-radius: 10px;

            padding: 1em;
        }

        .box h1 {
            text-align: center;
        }

        .preview {
            width: 50%;
            margin: 20px;
            margin-left: 25%;
            border-radius: 4px;
            box-shadow: gray 1px 2px 1px;
        }

        #file_input {
            width: 120px;
            height: 1px;
            overflow: hidden;
            position: relative;
            visibility: hidden;
            background-color: #ccc;
        }

        .filebutton {
            cursor: pointer;
            text-align: center;
        }

        .thumbnail-container img {
            width: 190px;
            margin: 5px;
            box-shadow: black 1px 1px 3px;
            border-radius: 5px;
            cursor: pointer;
        }

        .thumbnail-container {
            max-height: 500px;
            padding: 20px;
        }
    </style>

    <form id="box" class="box" method="post" action="" enctype="multipart/form-data">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#upload" data-toggle="tab">Upload Image</a></li>
            <li><a href="#gallery" data-toggle="tab">Select from gallery</a></li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="upload">
                <div class="box__input">


                    <div class="row" style="min-height: 320px;">
                        <h1 id="choose_text">Choose a file or drag it here</h1>.

                        <img id="preview" class="preview"/>

                        <div class="col-lg-6 col-lg-offset-3 text-center box__uploading">Uploading&hellip;</div>

                        <div class="col-lg-6 col-lg-offset-3 text-center box__success">Done!</div>
                        <div class="col-lg-6 col-lg-offset-3 text-center box__error">Error! <span
                                id="error-message"></span>.
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <label class="filebutton btn btn-success">
                            Browse For File!
                        <span>
                            <input id="file_input" class="box__file" type="file" name="file" id="file"
                                   data-multiple-caption="{count} files selected"/>
                                  </span>
                        </label>

                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="gallery">
                <div id="thumbnail-container" class="thumbnail-container">
                </div>
            </div>
        </div>


    </form>
</div>


<script>

</script>
