{% load i18n %}
{% load crispy_forms_tags %}

<div class="{{ box_wrapper_class|default:"col-md-10 col-lg-7 col-md-offset-1 col-lg-offset-3" }}">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">

        <strong><a href="{% url 'venue_list' %}">Vendor List</a></strong>

        <br><br>

        {% if object %}
          {% trans 'Change' %} {{ opts.verbose_name }} {{ object }}
        {% else %}
          {% trans "Add" %} {{ opts.verbose_name }}
        {% endif %}
      </h3>
    </div>

	{#  {{ request.build_absolute_uri|urlencode }}#}

    <form class="gform" method="POST" action="{{ request.build_absolute_uri }}" role="form">
      {% csrf_token %}
      <div class="box-body">
        {% if form.errors %}
          <div class="alert alert-block alert-danger">
            <a class="close" data-dismiss="alert">×</a>
            {% trans "Please correct the errors below." %}
          </div>
        {% endif %}

        {% if crispy_tag %}
          {% crispy form %}
        {% else %}
          {{ form|crispy }}
        {% endif %}
      </div>

      <div class="box-footer">
        <div class="form-actions">
          {% block form_actions %}
            <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
          {% endblock %}
        </div>
      </div>
    </form>
  </div>
</div>
