{% load static %}
{% load custom_tags %}
{% load socialaccount %}
{% get_facebook_provider as facebook_provider %}
{% get_google_provider as google_provider %}


<!doctype html>

<head>

	{#	<title>{% block head_title %}{% endblock %}</title>#}
	{#	{% block head_extra_css %}{% endblock %}#}
	{#	<meta charset="utf-8">#}
	{#	<base href="https://polygit.org/components/">#}
	{#	<script src="webcomponentsjs/webcomponents-lite.min.js"></script>#}
	{#	<link href="polymer/polymer.html" rel="import">#}
	{##}
	{#	<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
	<meta name="viewport" content="width=device-width">
	{#	<meta name="description" content="">#}
	{#	<meta name="author" content="">#}
	{##}
	{#	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">#}
	{#	<link href="{% static "css/freelancer.css" %}" rel="stylesheet">#}
	{#	<link href="{% static "css/app.css" %}" rel="stylesheet" type="text/css">#}
	{##}
	{#	<!-- Custom Fonts -->#}
	{#	<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">#}
	{#	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">#}
	{#	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">#}
	{##}
	{#	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
	{#	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
	{#	<!--[if lt IE 9]>#}
	{#        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
	{#        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
	{#    <![endif]-->#}

	<meta charset="utf-8">

	<base href="{% static "bower_components" %}/">

	<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
	<link href="polymer/polymer.html" rel="import">
	<link href="paper-button/paper-button.html" rel="import">
	<link href="paper-card/paper-card.html" rel="import">

	<link href="{% static "css/app.css" %}" rel="stylesheet" type="text/css">
	{% block head_extra %}{% endblock %}
	{% block head %}{% endblock %}
</head>
<body id="page-top" class="index">
{% block body %}

	{#	<dom-module id="x-foo">#}
	{#		<template>#}
	{#			<style></style>#}
	{#			<h1>Hello from x-foo</h1>#}
	{#		</template>#}
	{#		<script>#}
	{#			// Wait for imports in polyfilled browsers#}
	{#			HTMLImports.whenReady(function () {#}
	{#				Polymer({#}
	{#					is: 'x-foo'#}
	{#				});#}
	{#			});#}
	{#		</script>#}
	{#	</dom-module>#}

	{#	<x-foo></x-foo>#}

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#page-top">MWS</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="page-scroll">
						<a href="{% url 'home' %}">Home</a>
					</li>
					<li class="page-scroll">
						<a href="{% url 'zinnia:entry_archive_index' %}">Weblog</a>
					</li>
					{% if user.is_authenticated %}
						<li class="page-scroll"><a href="{% url 'account_email' %}">Change E-mail</a></li>
						<li class="page-scroll"><a href="{% url 'account_logout' %}">Sign Out</a></li>
					{% else %}
						<li class="page-scroll"><a href="{% url 'account_login' %}">Sign In</a></li>
						<li class="page-scroll"><a href="{% url 'account_signup' %}">Sign Up</a></li>
					{% endif %}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<br><br><br>

	<div class="alert alert-block alert-info" style="height: auto; width: 30em; display: table; margin: 0 auto;">
		<a class="close" data-dismiss="alert">×</a>
		<p>to login to the web admin</p>
		<p><strong>username:</strong> carvajal</p>
		<p><strong>password:</strong> 123123asdasd</p>
	</div>


	{% if messages %}
		<div>
			<strong>Messages:</strong>
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}


	{% block content %}

		<paper-card heading="Sign In">
			<div class="card-content">

				<a title="{{ facebook_provider.name }}" class="facebook_provider {{ facebook_provider.id }}"
				   href="{% provider_login_url facebook_provider.id process=process scope=scope auth_params=auth_params %}">
					<paper-button class="fb-login-btn">Login with Facebook</paper-button>
				</a>


			</div>
		</paper-card>

	{% endblock %}
{% endblock %}

<script src="jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>

{% block foot-extra-js %}{% endblock %}
{% block extra_body %}{% endblock %}

</body>

{% block modals %}{% endblock %}

<script type="text/javascript">
	{#	$(document).ready(function () {#}
	{#		{% block js %}{% endblock js %}#}
	{#	});#}
</script>

