.zinnia .entry-image img {
    height: 15em !important;
    width: auto !important;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.has-advanced-upload {
    background-color: white;
}

.box.has-advanced-upload .box__dragndrop {

}

.box__input {

    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
}

.box__input.is-dragover {
    background-color: rgba(10, 20, 200, 0.1);
}

.box.is-uploading .box__input {
    visibility: hidden;
}

.box.is-uploading .box__uploading {
    display: block;
}

.box-container {
    background-color: white;
    box-shadow: gray 1px 1px 3px;
    border-radius: 10px;

    padding: 1em;
}

.box h1 {
    text-align: center;
}

.preview {
    width: 50%;
    margin: 20px;
    margin-left: 25%;
    border-radius: 4px;
    box-shadow: gray 1px 2px 1px;
}

#file_input {
    width: 120px;
    height: 1px;
    overflow: hidden;
    position: relative;
    visibility: hidden;
    background-color: #ccc;
}

.filebutton {
    cursor: pointer;
    text-align: center;
}

.thumbnail-container img {
    width: 190px;
    margin: 5px;
    box-shadow: black 1px 1px 3px;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail-container {
    max-height: 500px;
    overflow-x: scroll;
}

#div_id_sites {
    display: none !important;
}

.fb-login-btn {
    color: white;
    background: #2b4170;
}

.go-login-btn {
    color: white;
    background: #c50200;
}

.alert {

    text-align: center;
    height: auto;
    /*width: 30em;*/
    display: table;
    margin: 20px auto;
}

.login-dlg {

    margin: 50px;
    width: 100%;

}

.login-container {
    text-align: center;
    margin: 20px auto;

    padding: 30px;
}

.login-container paper-button {
    margin: 20px;
    display: block;
    text-align: center;
}

body {

    margin: 0px;
}

.login-container-header {
    text-align: center;
    font-size: 22px;

    color: #888;
}

.search-field {
    padding-left: 20px;
    height: 44px;
    font-size: 18px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.no-padding {
    padding: 0px !important;
}

#search-field-suggestions {
    position: absulute;
    width: 100%;
    height: auto;
    z-index: 100000;
    padding: 10px;
}

#search-field-suggestions hr {

    margin-top: 4px;
    margin-bottom: 4px;;
}

.search-field-suggestions-item {
    padding-left: 10px;

    display: flex;

    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.facebook_provider:hover, .facebook_provider:focus, .google_provider:hover, .google_provider:focus {
    text-decoration: none;
}